@model Post

@{
    ViewData["Title"] = Model.Title;
    ViewData["Page"] = "BlogPost";
}

<div class="container" id="post-view-container">
    @if (Model is null)
    {
        <div class="alert-danger">No post with such id</div>
    }
    else
    {
        <div id="post">
            <h1 class="display-2 align-content-center">@Model.Title</h1>
            <div class="tags" id="post-tag-block">
                @foreach (var tag in Model.Tags)
                {
                    <span class="tag">#@tag.Title</span>
                }
            </div>
            <div class="sources">
                        <div class="author-block">
                            <span class="source-name">Author: </span> <a class="source-link" asp-controller="User" asp-action="Profile" asp-route-id="@Model.Blog.User.Id">@Model.Blog.User.Username</a>
                        </div>
                        <div class="blog-name-block">
                            <span class="source-name">Blog: </span> <a class="source-link" asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Blog.Id">@Model.Blog.Title</a>
                        </div>
                    </div>
            <div id="post-preview-image">
                @if (Model.PreviewImage != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.PreviewImage)" alt=""/>
                }
                else
                {
                    <img src="~/img/post-image.png" alt=""/>
                }
            </div>
            <div id="post-content-zone">
                <span id="post-content">@Model.Content</span>
            </div>
        </div>
    }
</div>