@using System.Drawing
@model Post

<div class="feed-item">
    <div class="feed-item-description">
        <h2 class="post-title">@Model.Title</h2>
        @if (!ViewData["Page"].Equals("BlogDetails"))
        {
            <div class="sources">
                <div class="author-block">
                    <span class="source-name">Author: </span> <a class="source-link" asp-controller="User" asp-action="Profile" asp-route-id="@Model.Blog.User.Id">@Model.Blog.User.Username</a>
                </div>
                <div class="blog-name-block">
                    <span class="source-name">Blog: </span> <a class="source-link" asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Blog.Id">@Model.Blog.Title</a>
                </div>
            </div>   
        }
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">#@tag.Title</span>
            }
        </div>
        <div class="post-description">
            <span class="source-name">Description:</span>
            <p>
                @Model.Description
            </p>
        </div>
        <a class="post-more-link" asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id">
            <h3>More→</h3>
        </a>
    </div>
    <div class="feed-item-image">

        @if (Model.PreviewImage != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.PreviewImage)" alt=""/>
        }
        else
        {
            <img src="~/img/post-image.png" alt=""/>
        }
    </div>
</div>